@import "tailwindcss";

:root {
  --foreground: #171717;
  --accent: #13c1fe;
  --background: #faf9f9;
  --primary: #fe5013;
  --secondary: #fec613;
  --primary-dark: #fc4201;
  --dark: #1a1a1a;
  --light: #c4c4df;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-dark: var(--dark);
  --color-primary-dark: var(--primary-dark);
  --color-light: var(--light);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
}

.dark {
  --foreground: #ffffff;
  --background: #1a1a1a;
}